.pre-table {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sort-options {
  font-size: 14px;

  .sort-item {
    display: flex;
  }

  .form-check {
    margin-right: 16px;
  }

  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }
}

.remarks {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2px;
}

.poor {
  color: #d64242;
}

.good {
  color: #5dbb29;
}

.output-table {
  font-size: 14px;

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }

  th>div.player-header {
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
      margin-right: 4px;
    }

    >.nickname {
      margin-right: 8px;
    }

    >.elo-kd {
      font-size: 10px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}
