<div class="container-fluid faceit-primary">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block faceit-dark sidebar collapse">
      <div class="position-sticky pt-5" role="tablist">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" data-bs-target="#nav-h2h" role="tab" data-bs-toggle="tab">
              <span class="icon px-1">
                <img src="assets/icons/h2h.svg" />
              </span>
              <span>Head to head</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-target="#nav-map-stats" role="tab" data-bs-toggle="tab">
              <span class="icon px-1">
                <img src="assets/icons/map_stats.svg" />
              </span>
              <span>Map stats</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="tab-content">
      <app-h2h id="nav-h2h" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 tab-pane fade show active" role="tabpanel">
      </app-h2h>
      <app-map-stats id="nav-map-stats" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 tab-pane fade" role="tabpanel">
      </app-map-stats>
    </main>

  </div>
</div>
