<div class="main-container bg-secondary">
  <div class="inputs rounded">
    <h5 class="text-light mb-3">INPUTS</h5>
    <form>
      <div class="match-url form-floating mb-3">
        <input id="matchUrl" name="matchUrl" type="text" class="form-control"
          [class.is-invalid]="submitted && !matchUrl" placeholder="Match URL" [(ngModel)]="matchUrl">
        <label for="matchUrl">Match URL</label>
      </div>
      <div class="faceit-user-name form-floating mb-3">
        <input id="faceitUsername" name="faceitUsername" type="text" class="form-control"
          [class.is-invalid]="submitted && !faceitUsername" placeholder="FACEIT Nickname" [(ngModel)]="faceitUsername">
        <label for="faceitUsername">FACEIT Nickname</label>
      </div>
      <div class="btns d-flex justify-content-between">
        <button type="submit" class="btn btn-primary text-light mr-3"
          [disabled]="!matchUrl || !faceitUsername || analysing" (click)="analyse()">
          <span *ngIf="!analysing">Analyse</span>
          <ng-container *ngIf="analysing">
            <span class="spinner spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </ng-container>
        </button>
        <button type="button" class="btn btn-danger text-light" [disabled]="(!matchUrl && !faceitUsername) || analysing"
          (click)="reset()">Reset</button>
      </div>
      <div *ngIf="warning" class="text-danger mt-3">Error: {{ warning }}</div>
    </form>
  </div>
  <div *ngIf="result" class="outputs rounded text-light">
    <h5 class="mb-3">RESULTS</h5>
    <table class="table table-bordered text-light">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Level</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of result">
          <td>{{ row.nickname }}</td>
          <td>{{ row.game_skill_level }}</td>
          <td>{{ row.player_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
