// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$match-analyser-primary: mat-palette($mat-indigo);
$match-analyser-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$match-analyser-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as 'color' or 'typography'.
$match-analyser-theme: mat-light-theme((color: (primary: $match-analyser-primary,
      accent: $match-analyser-accent,
      warn: $match-analyser-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($match-analyser-theme);

/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

html,
html>body {
  width: 100%;
  height: 100%;
  background-color: $secondary;
}

@font-face {
  font-family: play;
  src: url(assets/font/Play-Regular.ttf);
}

.faceit-orange {
  color: $primary !important
}

.faceit-dark {
  background-color: $dark;
  color: white;
}

* {
  font-family: 'play',
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.25rem;
}

.navbar .navbar-toggler {
  margin-right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: $light;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: $light !important;
}

.form-control-dark:focus {
  color: $light;
  border-color: transparent;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
